In [3]:
import pandas as pd

df_train_data = pd.read_csv('train_data.txt', sep=" ::: ",
                 names=["Index", "Title", "Genre", "Description"])
df_test_data = pd.read_csv('test_data.txt', sep=" ::: ",
                 names=["Index", "Title", "Description"])

print(df_train_data)
print(df_test_data)

C:\Users\mitch\AppData\Local\Temp\ipykernel_2980\3902748414.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_train_data = pd.read_csv('train_data.txt', sep=" ::: ",
C:\Users\mitch\AppData\Local\Temp\ipykernel_2980\3902748414.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_test_data = pd.read_csv('test_data.txt', sep=" ::: ",

       Index                                       Title        Genre  \
0          1                Oscar et la dame rose (2009)        drama
1          2                                Cupid (1997)     thriller
2          3            Young, Wild and Wonderful (1980)        adult
3          4                       The Secret Sin (1915)        drama
4          5                      The Unrecovered (2007)        drama
...      ...                                         ...          ...
54209  54210                             "Bonino" (1953)       comedy
54210  54211                 Dead Girls Don't Cry (????)       horror
54211  54212   Ronald Goedemondt: Ze bestaan echt (2008)  documentary
54212  54213                    Make Your Own Bed (1944)       comedy
54213  54214  Nature's Fury: Storm of the Century (2006)      history

                                             Description
0      Listening in to a conversation between his doc...
1      A brother and sister with a past incestuous re...
2      As the bus empties the students for their fiel...
3      To help their unemployed father make ends meet...
4      The film's title refers not only to the un-rec...
...                                                  ...
54209  This short-lived NBC live sitcom centered on B...
54210  The NEXT Generation of EXPLOITATION. The siste...
54211  Ze bestaan echt, is a stand-up comedy about gr...
54212  Walter and Vivian live in the country and have...
54213  On Labor Day Weekend, 1935, the most intense h...

[54214 rows x 4 columns]
       Index                           Title  \
0          1            Edgar's Lunch (1998)
1          2        La guerra de pap√° (1977)
2          3     Off the Beaten Track (2010)
3          4          Meu Amigo Hindu (2015)
4          5               Er nu zhai (1955)
...      ...                             ...
54195  54196  "Tales of Light & Dark" (2013)
54196  54197     Der letzte Mohikaner (1965)
54197  54198             Oliver Twink (2007)
54198  54199               Slipstream (1973)
54199  54200       Curitiba Zero Grau (2010)

                                             Description
0      L.R. Brane loves his life - his car, his apart...
1      Spain, March 1964: Quico is a very naughty chi...
2      One year in the life of Albin and his family o...
3      His father has died, he hasn't spoken with his...
4      Before he was known internationally as a marti...
...                                                  ...
54195  Covering multiple genres, Tales of Light & Dar...
54196  As Alice and Cora Munro attempt to find their ...
54197  A movie 169 years in the making. Oliver Twist,...
54198  Popular, but mysterious rock D.J Mike Mallard ...
54199  Curitiba is a city in movement, with rhythms a...

[54200 rows x 3 columns]

In [4]:
import matplotlib.pyplot as plt
# df = df[(df['Genre'] != 'drama') & (df['Genre'] != 'comedy') & (df['Genre'] != 'documentary') & (df['Genre'] != 'short') & (df['Genre'] != 'horror')
#         & (df['Genre'] != 'thriller') & (df['Genre'] != 'action')]
df_train_data['Genre'].value_counts()

drama          13613
documentary    13096
comedy          7447
short           5073
horror          2204
thriller        1591
action          1315
western         1032
reality-tv       884
family           784
adventure        775
music            731
romance          672
sci-fi           647
adult            590
crime            505
animation        498
sport            432
talk-show        391
fantasy          323
mystery          319
musical          277
biography        265
history          243
game-show        194
news             181
war              132
Name: Genre, dtype: int64